@import 'bootstrap/dist/css/bootstrap.css';


html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #f9f9f9;
}


header h1, header h2 {
  color: white;
  text-align: center;
}

h1, h2 {
    text-align: center;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
    text-align: center;
}




    input[type="submit"] {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #656565;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    transition: border-color 0.3s, color 0.3s;
    margin-top: 10px;
}

input[type="submit"]:hover {
    border-color: #656565;
    color: #000000;
}







textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}